 * {
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
 }

 .grid-container {
     display: grid;
     grid-template-areas:
         "header"
         "middleman"
         "hero"
         "content"
         "footer";
     grid-template-columns: 1fr;
     grid-template-rows: auto 1fr auto;
     min-height: 100vh;
     background-color: #E3F2FD;
 }


 #team {
     padding-top: 20px;
     text-align: center;
     font-size: 1.5em;
     font-weight: bold;
     color: #133E87;

 }


 header {
     display: flex;
     justify-content: space-between;
     padding: 20px;
     font-size: 16;
     background-color: #133E87;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     color: #f9c74f
 }

 header .logo {
     font-size: 24px;
     font-weight: bold;

 }

 header nav ul {
     list-style-type: none;
     display: flex;
     gap: 20px;
 }

 header nav ul li {
     padding: 10px;
 }


 header nav ul li a {
     text-decoration: none;
     color: #f9c74f;
     font-size: 16px;
     font-weight: bold;
     position: relative;
 }

 header nav ul li a::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 0;
     height: 2px;
     background: #ffffff;
     transition: width 0.5s ease;

 }


 header nav ul li a:hover::after {
     width: 100%;
 }




 .logo {
     font-size: 40px;
     color: #f9c74f;
     text-decoration: none;
     font-weight: 700;
 }

 .navbar {
     display: flex;
     gap: 15px;
     flex-wrap: wrap;
 }

 .navbar a {
     font-size: 16px;
     color: #f9c74f;
     font-weight: 500;
     text-decoration: none;
     padding: 5px;
     border-radius: 5px;
     transition: background-color 0.3s, color 0.3s;
 }

 .navbar a:hover {
     background-color: cornflowerblue;
     color: black;
     border-color: whitesmoke;
 }

 img#picture {
     height: 90px;
     width: 115px;
     margin-right: 20px;
     border-radius: 50%;
 }

 .hero {
     background-image: url('/media/Antique-Painting-Eduard-Fischer_sfa31__45155.jpg');
     background-size: cover;
     background-position: center;
     background-color: grey;
     background-size: 1900px;
     color: #fff;
     text-align: center;
     padding: 100px 20px;
     height: 130px;

 }

 .hero h1 {
     font-size: 3em;
     margin-bottom: 10px;
     text-align: center;
 }

 .hero p {
     font-size: 1.2em;
     padding-top: 15px;
 }

 .profile-section {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
     gap: 30px;
     padding-top: 20px;
     justify-content: center;
 }

 .profile-card {
     background-color: whitesmoke;
     text-align: center;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     display: grid;
     grid-template-rows: auto auto auto;
     justify-items: center;
 }

 .profile-card img {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     object-fit: cover;
     margin-bottom: 10px;
 }

 .profile-card p {
     font-size: 1.2em;
 }

 .what-we-do {
     text-align: center;
     padding-top: 10px;
     padding: 40px 20px;
     margin: 20px;
     border-radius: 10px;

 }

 .what-we-do h2 {
     color: #133E87;
     margin-bottom: 20px;
 }

 .what-we-do p {
     font-size: 1.5em;
     max-width: 800px;
     margin: 0 auto;
     color: black;
 }

 .testimonials {
     text-align: center;
     padding: 40px 20px;
     margin: 20px 0;
 }

 .testimonials h2 {
     color: #133E87;
     margin-bottom: 20px;
 }

 .testimonial-section {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     gap: 20px;
     justify-content: center;
     padding: 40px 20px;
     margin-left: 190px;
 }

 .testimonial-card {
     align-items: start;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 20px;
     justify-content: center;
     padding-top: 20px;
     background-color: #ffffff;
     text-align: center;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     width: 300px;
 }

 .testimonial-card p {
     font-size: 1.1em;
     color: grey;
     margin-bottom: 10px;
 }

 .testimonial-card h3 {
     color: #133E87;
     font-weight: bold;
 }

 .information {

     text-align: center;
     margin-top: 15px;
     margin-bottom: 25px;
     color: black;
 }

 #information-title {
     text-align: center;
     font-size: 1.5em;
     color: #133E87;
     font-weight: bold;
 }



 .footer {
     grid-area: footer;
     background-color: #133E87;
     color: #fff;
     text-align: center;
     padding: 20px 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 0;
 }

 .footer ul {
     display: flex;
     gap: 15px;
     list-style: none;
     padding: 0;
 }

 .footer ul a {
     color: #f9c74f;
     text-decoration: none;
     font-size: 16px;
     font-weight: 500;
     transition: color 0.3s ease;
 }

 .footer ul a:hover {
     color: black;
 }

 .footer p {
     font-size: 14px;
 }