.header {
    grid-area: header;
    background-color: #133E87;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E3F2FD;

}

.header {
    grid-area: header;
    background-color: #133E87;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    font-size: 40px;
    color: #f9c74f;
    text-decoration: none;
    font-weight: 700;
}

.navbar {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.navbar a {
    font-size: 16px;
    color: #f9c74f;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: cornflowerblue;
    color: black;
    border-color: #ddd;
}

/* keep in mind this color and use it later :) #4A628A */
img#picture {
    height: 90px;
    width: 115px;
    margin-right: 20px;
    border-radius: 50%;
}

img#aboutsnoopy {
    float: right 20px;
}

.container {
    max-width: 400px;
    width: 100%;
    background-color: #4A628A;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
    border-radius: 12px
}

.logo {
    font-size: 40px;
    color: #f9c74f;
    text-decoration: none;
    font-weight: 700;
}

.navbar {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.navbar a {
    font-size: 16px;
    color: #f9c74f;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #4A628A;
    color: black;
    border-color: #ddd;
}

.card .image {

    height: 150px;
    width: 150px;

}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;


}